@font-face {
  font-family: "ycloud-business";
  src: url('ycloud-business.eot'); /* IE9*/
  src: url('ycloud-business.eot#iefix') format('embedded-opentype') /* IE6-IE8 */,
  url('ycloud-business.woff2') format('woff2'),
  url('ycloud-business.woff') format('woff'),
  url('ycloud-business.ttf') format('truetype'),
  url('ycloud-business.svg') format('svg');
}

[class^="business-icon-"], [class*=" business-icon-"] {
  font-family: 'ycloud-business' !important;font-size: inherit;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




.business-icon-advertising-outlined::before { content: "\f0b0"; }
.business-icon-agent-filled::before { content: "\f14f"; }
.business-icon-agent-guide-filled::before { content: "\f0b2"; }
.business-icon-agent-with-time-filled::before { content: "\f150"; }
.business-icon-alipay-filled::before { content: "\f151"; }
.business-icon-alipay::before { content: "\f0b5"; }
.business-icon-analytics-filled::before { content: "\f0b6"; }
.business-icon-authentication-filled::before { content: "\f0ba"; }
.business-icon-benefit-analytics-filled::before { content: "\f152"; }
.business-icon-benefit-payments-filled::before { content: "\f153"; }
.business-icon-benefit-restriction-filled::before { content: "\f154"; }
.business-icon-benefit-sender-filled::before { content: "\f155"; }
.business-icon-benefit-simple-filled::before { content: "\f156"; }
.business-icon-benefit-smile-filled::before { content: "\f157"; }
.business-icon-benefit-statistical-filled::before { content: "\f158"; }
.business-icon-benefit-template-filled::before { content: "\f159"; }
.business-icon-branch-filled::before { content: "\f15a"; }
.business-icon-calling-filled::before { content: "\f0d1"; }
.business-icon-calling-outlined::before { content: "\f0d2"; }
.business-icon-campaign-filled::before { content: "\f0d3"; }
.business-icon-campaign-outlined::before { content: "\f0d4"; }
.business-icon-cart-outlined::before { content: "\f15b"; }
.business-icon-chatbot-outlined::before { content: "\f15c"; }
.business-icon-check-cancel-filled::before { content: "\f0d9"; }
.business-icon-check-filled::before { content: "\f15d"; }
.business-icon-code-filled::before { content: "\f0dc"; }
.business-icon-coding-filled::before { content: "\f0e0"; }
.business-icon-contact-outlined::before { content: "\f0e5"; }
.business-icon-credit-card-filled::before { content: "\f15e"; }
.business-icon-date-time-filled::before { content: "\f15f"; }
.business-icon-developers-outlined::before { content: "\f160"; }
.business-icon-discount-filled::before { content: "\f161"; }
.business-icon-doc-csv-filled::before { content: "\f0f0"; }
.business-icon-error-filled::before { content: "\f162"; }
.business-icon-facebook::before { content: "\f163"; }
.business-icon-filter-event-filled::before { content: "\f164"; }
.business-icon-global-filled::before { content: "\f165"; }
.business-icon-home-outlined::before { content: "\f166"; }
.business-icon-hub-spot::before { content: "\f064"; }
.business-icon-inbox-outlined::before { content: "\f167"; }
.business-icon-info-filled::before { content: "\f168"; }
.business-icon-integration-outlined::before { content: "\f169"; }
.business-icon-journey-outlined::before { content: "\f0fe"; }
.business-icon-lightning-filled::before { content: "\f100"; }
.business-icon-message-bubble-filled::before { content: "\f109"; }
.business-icon-message-filled::before { content: "\f10b"; }
.business-icon-more-price-filled::before { content: "\f16a"; }
.business-icon-more-restriction-filled::before { content: "\f16b"; }
.business-icon-more-sender-name-filled::before { content: "\f16c"; }
.business-icon-note-filled::before { content: "\f117"; }
.business-icon-order-event-filled::before { content: "\f119"; }
.business-icon-order-outlined::before { content: "\f11a"; }
.business-icon-partners-outlined::before { content: "\f11b"; }
.business-icon-paypal::before { content: "\f16d"; }
.business-icon-qmai-event-filled::before { content: "\f16e"; }
.business-icon-route-filled::before { content: "\f16f"; }
.business-icon-sand-clock-filled::before { content: "\f170"; }
.business-icon-security-filled::before { content: "\f128"; }
.business-icon-shopify-filled::before { content: "\f171"; }
.business-icon-shopify::before { content: "\f09a"; }
.business-icon-star-filled::before { content: "\f172"; }
.business-icon-status-filled::before { content: "\f137"; }
.business-icon-tag-filled::before { content: "\f173"; }
.business-icon-team-filled::before { content: "\f174"; }
.business-icon-template-filled::before { content: "\f13e"; }
.business-icon-tiktok::before { content: "\f175"; }
.business-icon-trigger-filled::before { content: "\f176"; }
.business-icon-trophy::before { content: "\f0ab"; }
.business-icon-user-filled::before { content: "\f147"; }
.business-icon-warning-filled::before { content: "\f177"; }
.business-icon-wechat-filled::before { content: "\f148"; }
.business-icon-wechat-pay::before { content: "\f178"; }
.business-icon-whats-app-business-outlined::before { content: "\f179"; }
.business-icon-whats-app-phone-outlined::before { content: "\f17a"; }
.business-icon-whatsapp-outlined::before { content: "\f17b"; }
.business-icon-whatsapp-phone-filled::before { content: "\f14b"; }
.business-icon-widgets-filled::before { content: "\f14d"; }

